*{
    margin: 0;
    padding: 0;
    border: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
}

li{
    list-style: none;
    cursor: pointer;
}


.mainhide{
    display: none;
}
.mainunhide{
    display: block;
}